<h1 i18n="Lazy Feature 1 page title | description for title@@pages.lazyFeature1Title">Lazy Feature 1</h1>
<p i18n="Lazy Feature 1 page description | description@@pages.lazyFeature1Description">HTTP service example</p>

<mat-divider></mat-divider>

<mat-grid-list cols="2"
               rowHeight="2:1"
               #photoGridList>
    @for (photo of photos(); track photo.id; let idx = $index) {
    <mat-grid-tile>
        <div class="example-image-container">
            <img class="example-image"
                 [ngSrc]="photo.download_url"
                 placeholder="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                 alt="example-image"
                 priority
                 fill>
        </div>
    </mat-grid-tile>
    } @empty {
    <li> There are no items.</li>
    }
</mat-grid-list>

<mat-divider></mat-divider>

<!-- paginator -->
<mat-paginator #matPaginator
               class="demo-paginator"
               (page)="onPageEvent($event)"
               [length]="paginator().length"
               [pageSize]="paginator().pageSize"
               [showFirstLastButtons]="paginator().showFirstLastButtons"
               [hidePageSize]="paginator().hidePageSize"
               [pageIndex]="paginator().currentPage"
               aria-label="Select page">
</mat-paginator>

<mat-divider></mat-divider>

<button (click)="onButtonClick()"
        mat-raised-button
        color="primary">
    Go Home
</button>
